#face: #left-ear, #right-ear {
  top: 0%;
  transition: top .5s ease-out;
}

#face:hover #left-ear, #right-ear {
  top: -10px;
}

#left-eye, #right-eye {
  animation: translate 3s infinite;
}

@keyframes translate {

  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
  }
}
