#left-ear, #right-ear {
  transform: translateY(0px);
  transition: transform .5s ease-out;
}

#face:hover #left-ear, #face:hover #right-ear {
  transform: translateY(-20px);
}

#left-eye, #right-eye {
  animation: translate 3s infinite;
}

@keyframes translate {

  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
  }
}
